<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="{{ asset('bundles/symfonyan/css/exception_layout.css') }}" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body>
        <img id="tip_l" src="{{ asset('bundles/symfonyan/images/symfonyan_tip_l.gif') }}" /><h2><span>The server returned a "{{ status_code }} {{ status_text }}".</span></h2><img id="tip_r" src="{{ asset('bundles/symfonyan/images/symfonyan_tip_r.gif') }}" />
        <br style="clear:both">
        <div id="contact-me">
            Something is broken. Please e-mail us at [email] and let us know
            what you were doing when this error occurred. We will fix it as soon
            as possible. Sorry for any inconvenience caused.
        </div>
    </body>
</html>
